<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body style="padding: 10%;">


    <h1 style="color:red">Welcome!</h1>

    <p> This is the about page. This is where you talk all about something. </p>

    <a href="#">Back</a>
    
</body>
</html>